body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald" sans-serif;
}
.wrapper{
    width: 100%; 
    background-color: #FFFFFF;
    height: 10vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}
.logo{
}
ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}
a:hover{
    color: #384AEB;
}
header{
    height: 50vh;
    background-color: #F1F6F7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3em;
}
main{
    display: flex;
    gap: 4em;
    box-shadow:0 0 5px rgba(104, 104, 104, 0.8);
    padding: 2em;
}
.product-info{
    color: #A1A1A1;
    display: flex;
    flex-direction:column;
    gap: 1em;
}
.product-name{
    color: black;
}
img{
    width: 50%;
    height: 600px;
    box-shadow:0 0 5px rgba(104, 104, 104, 0.8)
}
.price{
    color: #384AEB;
}
.product-info p{
    font-size: 1.2rem;
}
.div{
    font-size: 1.2rem;
}
.divv{
    /* margin-bottom: 2em; */
}
button{
    padding: .6em 5em;
    background-color: #384AEB;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .1em;
    width: 60%;
    margin: 2rem auto;
}
button:hover{
    background-color: white;
    border: solid 1px#384AEB;
    color: black;
    transition: background .7s ease-in-out;
}
footer{
    background-color: #002347;
    height: 10vh;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}